.budget-detail {
    padding: 20px;
}

.budget-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.budget-card-container {
    width: 250px;
}

.add-expense-card {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.add-expense-form {
    max-width: 400px;
    margin: auto;
}

.add-expense-form h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.add-expense-form form {
    display: flex;
    flex-direction: column;
}

.add-expense-form label {
    margin-bottom: 10px;
}

.add-expense-form input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.add-expense-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-expense-form button:hover {
    background-color: rgba(59, 130, 246, .5);
}

.expense-table {
    width: 90%;
    /* max-width: 800px;  */
    border-collapse: collapse;
    color: #000;
    @apply mx-auto
    /* margin-top: 8rem; */
    /* margin-left: 15rem; */
}

.expense-table th,
.expense-table td {
    padding: 8px;
    text-align: left;
}

.expense-table th {
    background-color: #E2E8F0;
    @apply font-semibold
}

.expense-table tr {
    background-color: #f8f8f8;
    ;
}

.expense-table tr:hover {
    background-color: #E2E8F0;
}

.expense-table th,
.expense-table td {
    border: none;
}

tr .editicon:hover {
    color: rgb(38, 240, 48);
}


.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup .popup-content .close {
    font-size: 28px;
    color: rgb(37, 37, 37);
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 1rem;
    max-width: 80%;
    width: 500px;
    max-height: 80%;
    height: 300px;
    overflow: auto;
    position: relative;
}

.popup .popup-content h2 {
    max-width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.popup .popup-content p {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #383737;
}

.popup .popup-content p input {
    font-weight: 300;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    display: block;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    height: 2rem;
    @apply focus:outline-none border
}

.popup .popup-content button {
    font-weight: bold;
    font-size: 15px;
    color: #f8f8f8;
    padding: 10px 20px;
    border-radius: 0.5rem;
    display: block;
    margin: 0 auto;
    @apply bg-gray-900
}

.popup .popup-content button:hover {
    @apply bg-gray-700
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .expense-table {
        margin-left: auto;
        margin-right: auto;
    }

    .expense-table th,
    .expense-table td {
        font-size: 14px;
    }
}


.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.logo img {
    width: 50px;
}

.social-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.social-login button {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social-login button:hover {
    background-color: #f0f0f0;
}

.bottom-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.bottom-text a {
    color: #007bff;
    text-decoration: none;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.logo img {
    width: 50px;
}

.social-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.social-login button {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.social-login button:hover {
    background-color: #f0f0f0;
}

.bottom-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.bottom-text a {
    color: #007bff;
    text-decoration: none;
}

.stats {
    @apply flex flex-wrap mt-5 justify-start
}

.stat-card {
    
    border-radius: 10px;
    box-shadow: 1 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-width: 12rem;
    gap: '20px';
    margin-top: 20px;
    margin: 20px;
    @apply w-full md:w-2/5 lg:w-[30%] border
}

.stat-icon {
    font-size: 40px;
   
    margin-right: 20px;
}

.stat-info {
    text-align: left;
    
}

.stat-title {
    font-size: 1rem;
    
    @apply text-gray-600 font-semibold
}

.stat-value {
    font-size: 24px;
    font-weight: bold;
}